﻿@model IEnumerable<Common.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Context.User.IsInRole("Admin"))
    {
    @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
           Category
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
       
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <img src="@item.ImagePath" style="width: 50px; height: 70px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("More Info", "Details", new { id = Common.Encryption.EncryptQueryString(item.Id.ToString()) }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 
            
            @if(item.ImagePath != null)
            { 
                <span>|</span>
                @Html.ActionLink("Download", "Download", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
