
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <span 
            *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched"
            class="help-block">Please enter a valid name.</span>
        </div>
        <div class="form-group col-lg-6">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" formControlName="surname">
            <span 
            *ngIf="!registerForm.get('surname').valid && registerForm.get('surname').touched"
            class="help-block">Please enter a valid surname.</span>
        </div>
    </div>
  
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <span 
            *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched"
            class="help-block">Please enter a valid email.</span>
        </div>
        <div class="form-group col-lg-6">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" formControlName="phone">
            <span 
            *ngIf="!registerForm.get('phone').valid && registerForm.get('phone').touched"
            class="help-block">Please enter a valid phone number.</span>
        </div>
    </div>
   
        <div class="form-group">
            <label for="gender">Gender</label>
            <select id="gender" class="form-control" formControlName="gender">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
                </select>
            <span 
            *ngIf="!registerForm.get('gender').valid && registerForm.get('gender').touched"
            class="help-block">Please tell us your gender.</span>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <span 
            *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
            class="help-block">Please enter a strong password.</span>

        </div>

      <span
      *ngIf="!registerForm.valid && registerForm.touched"
      class="help-block">Please fill in the form correctly<br/></span>
    

    <button type="submit" class="btn btn-primary float-right" [disabled]="!registerForm.valid || registerForm.pristine">Register</button>

  <br/>
  <br/>
  <br/>
</form>
<div>
</div>

  