﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

 


<form method="post" action="\Accounts\Login">
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="email" /></td>
        </tr>

        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" /></td>
        </tr>
    </table>

    <input type="submit" value="Log in" />
</form>