
.container{
    margin:0 auto !important;
    padding:0 auto !important;
}
.img-fluid{
    height:450px;
    width:100%;
    position:relative;
}

.titleTxt{
    position:absolute;
    top:50px;
    left:30%;
    color:grey;
    font-size:60px;
    font-family: 'Cabin', sans-serif;
    text-shadow: 3px 3px rgba(154, 150, 150, 0.387);


}
.subTitleTxt{
    position:absolute;
    top:120px;
    left:26%;
    color:grey;
    font-size:25px;
    text-align: center;
    letter-spacing: 7px;;
    
}


@media screen and (max-width: 800px) {
    .titleTxt{
        left:15%;
        font-size:40px;
    }
    .subTitleTxt{
font-size:25px;  
letter-spacing:0px;
text-align: left;
left:10%;
}
  }
