
<body>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
<div class="container">
<div class="row">
    <div class="col-lg-12" id="titleImg">
        <img class="titleImg" src="assets\images\imgTitle.jpg" class="img-fluid" alt="Responsive image">
        <p class="titleTxt"> Poseidon's Trident</p>
        <br/>
        <p class="subTitleTxt"> your number one tour provider</p>
    </div>
</div>
<br/>
<br/>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <img src="assets\images\hawaii.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                <h5 class="card-title">Hawaii</h5>
                <p class="card-text"> Hawaii tours available in our offers section.</p>
                <a class="btn btn-primary" [routerLink]="['/yachts']">Explore More</a>
                </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
                <img src="assets\images\philippines1.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                <h5 class="card-title">Philippines</h5>
                <p class="card-text">Philippines tours available in our offers section.</p>
                <a class="btn btn-primary" [routerLink]="['/yachts']">Explore More</a>
                </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
                <img src="assets\images\mediterranean.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                <h5 class="card-title">Mediterranean</h5>
                <p class="card-text">Mediterranean tours available in our offers section.</p>
                <a class="btn btn-primary" [routerLink]="['/yachts']">Explore More</a>
                </div>
            </div>
          </div>



    </div>
</div>


</body>
<br/>
<br/>
<footer><p style="text-align: center;">Copyright @ Marcelle</p></footer>