<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group ">
        <label for="boatModel">Yacht Model</label>
        <input type="text" class="form-control" id="boatModel"formControlName="boatModel">
        <span 
        *ngIf="!editForm.get('boatModel').valid && editForm.get('boatModel').touched"
        class="help-block">Please enter a valid yacht name.</span>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-3">
            <label for="cabins">Number of Cabins</label>
            <input type="number" class="form-control" id="cabins" formControlName="cabins">
            <span 
            *ngIf="!editForm.get('cabins').valid && editForm.get('cabins').touched"
            class="help-block">Please enter number of cabins.</span>
        </div>

        <div class="form-group col-lg-3">
            <label for="beds">Number of Beds</label>
            <input type="number" class="form-control" id="beds" formControlName="beds">
            <span 
            *ngIf="!editForm.get('beds').valid && editForm.get('beds').touched"
            class="help-block">Please enter number of beds.</span>
        </div>

        <div class="form-group col-lg-3">
            <label for="capacity">Total Capacity</label>
            <input type="number" class="form-control" id="capacity" formControlName="capacity">
            <span 
            *ngIf="!editForm.get('capacity').valid && editForm.get('capacity').touched"
            class="help-block">Please enter yacht capacity.</span>
        </div>

        <div class="form-group col-lg-3">
            <label for="engine">Engine's horsepower</label>
            <input type="number" class="form-control" id="engine" formControlName="engine">
            <span 
            *ngIf="!editForm.get('engine').valid && editForm.get('engine').touched"
            class="help-block">Please enter your yacht's engine horsepower.</span>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="draft">Draft Measurements</label>
            <input type="number" class="form-control" id="draft" formControlName="draft">
            <span 
            *ngIf="!editForm.get('draft').valid && editForm.get('draft').touched"
            class="help-block">Please enter draft measurements.</span>
        </div>

        <div class="form-group col-lg-6">
            <label for="length">Length of ship (in meters)</label>
            <input type="number" class="form-control" id="length" formControlName="length">
            <span 
            *ngIf="!editForm.get('length').valid && editForm.get('length').touched"
            class="help-block">Please enter yacht's length.</span>
        </div>

    </div>
    <div class="form-row">

        <div class="form-group col-lg-6">
            <label for="dateFrom">Date of Departure</label>
            <input type="date" class="form-control" id="dateFrom" formControlName="dateFrom">
            <span 
            *ngIf="!editForm.get('dateFrom').valid && editForm.get('dateFrom').touched"
            class="help-block">Please enter a valid depature date.</span>
        </div>

        <div class="form-group col-lg-6">
            <label for="dateTo">Date of Return</label>
            <input type="date" class="form-control" id="dateTo" formControlName="dateTo">
            <span 
            *ngIf="!editForm.get('dateTo').valid && editForm.get('dateTo').touched"
            class="help-block">Please enter valid return date.</span>
        </div>

    </div>
    <div class="form-row">

        <div class="form-group col-lg-4">
            <label for="discount">Discount</label>
            <input type="number" class="form-control" id="discount" formControlName="discount">
            <span 
            *ngIf="!editForm.get('discount').valid && editForm.get('discount').touched"
            class="help-block">Please enter a discount amount.</span>
        </div>

        <div class="form-group col-lg-4">
            <label for="offerPrice">Discounted Price</label>
            <input type="number" class="form-control" id="offerPrice" formControlName="offerPrice">
            <span 
            *ngIf="!editForm.get('offerPrice').valid && editForm.get('offerPrice').touched"
            class="help-block">Please enter valid disounted price.</span>
        </div>
        <div class="form-group col-lg-4">
            <label for="cityOfDeparture">City Of Departure</label>
            <input type="text" class="form-control" id="cityOfDeparture" formControlName="cityOfDeparture">
            <span 
            *ngIf="!editForm.get('cityOfDeparture').valid && editForm.get('cityOfDeparture').touched"
            class="help-block">Please enter valid return date.</span>
        </div>

    </div>

    <div class="form-group">
        <label for="boatType">Boat Type</label>
        <select id="boatType" class="form-control" formControlName="type">
          <option>Bareboat</option>
          <option>Skippered</option>
          <option>Crewed</option>
        </select>
        <span 
        *ngIf="!editForm.get('type').valid && editForm.get('type').touched"
        class="help-block">Please choose a boat type</span>
    </div>

    <div class="row">
        <div class="form-group col-lg-3">
            <label for="wifi">Is your yacht equipped with WiFi?</label>
            <select id="wifi" class="form-control" formControlName="wifi">
            <option>No</option>
            <option>Yes</option>
            </select>
            <span 
            *ngIf="!editForm.get('wifi').valid && editForm.get('wifi').touched"
            class="help-block">Please specify if your yacht provides wifi.</span>
        </div>

        <div class="form-group col-lg-3">
            <label for="gps">Is your yacht equipped with GPS? </label>
            <select id="gps" class="form-control" formControlName="gps">
            <option>No</option>
            <option>Yes</option>
            </select>
            <span 
            *ngIf="!editForm.get('gps').valid && editForm.get('gps').touched"
            class="help-block">Please specify if your yacht provides gps.</span>
        </div>
    </div>


    <div class="form-group">
        <label for="image">Upload an image of your boat</label>
        <input type="file" class="form-control-file" id="image" formControlName="image">
        <span 
        *ngIf="!editForm.get('image').valid && editForm.get('image').touched"
        class="help-block">Please provide pictures of your yacht.</span>
    </div>

      <button class="btn btn-primary btn-block"  [disabled]="!editForm.valid && editForm.pristine" type="submit">Submit</button>

      <br/>
      <br/>
      <br/>
      <span *ngIf="!editForm.valid && editForm.touched" class="help-block">Please fill the above form correctly before submitting.</span>
      <br/>
      <br/>
      <br/>
    </form>