.row{
    width:100%;
    height:200px;
    margin-top:100px;
}
img{
    height:90%;;
    width:100%;
    z-index: -1;
}
h1{
    position:absolute;
    left: 40%;
    bottom:50%;
    z-index: 1; 
    color:white;
    font-size:20px;
    cursor:pointer;
}
h1:hover{
    color: grey;
}

.imagesContainer{

    clear:both;
}


@media screen and (max-width: 800px) {
.imagesContainer .row{
    clear:both;
    margin-top:800px;
}

  }