<div class="container">

    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <h1 (click)='showMaltaPictures()'>Malta</h1>
            <img src="assets/images/malta.jpg" > 
        </div>
        <div class="col-lg-3 col-sm-12"(click)='showCaribbeanPictures()'>
            <img src="assets/images/caribbean.jpg">
            <h1>Caribbean</h1>
        </div>

        <div class="col-lg-3 col-sm-12"(click)='showGreecePictures()'>
             <img src="assets/images/greece.jpg">
            <h1>Greece</h1>
            </div>
        <div class="col-lg-3 col-sm-12"(click)='showNorwayPictures()'>
            <img src="assets/images/norway.jpg">
            <h1>Norway</h1>
        </div>

    </div>
</div>

    <div class="container imagesContainer" [hidden]="!Malta">
        <div class="row">
            <div class="col-lg-4 col-sm-12"><img src="assets/images/malta2.jpg"></div>
            <div class="col-lg-4 col-sm-12"><img src="assets/images/malta1.jpg"></div>
            <div class="col-lg-4 col-sm-12"><img src="assets/images/malta3.jpg"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12"><img src="assets/images/malta4.jpg"></div>
            <div class="col-lg-4 col-sm-12"><img src="assets/images/malta5.jpg"></div>
            <div class="col-lg-4 col-sm-12"><img src="assets/images/malta6.jpg"></div>
        </div>
    </div>
    <div class="container imagesContainer" [hidden]="!Greece">
        <div class="row">
            <div class="col-lg-6 col-sm-12"><img src="assets/images/greece1.jpg"></div>
            <div class="col-lg-6 col-sm-12"><img src="assets/images/greece2.jpg"></div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12"><img src="assets/images/greece3.jpg"></div>
            <div class="col-lg-6 col-sm-12"><img src="assets/images/greece4.jpg"></div>
        </div>
    </div>
    <div class="container imagesContainer" [hidden]="!Norway">
        <div class="row">
            <div class="col-lg-5 col-sm-12"><img src="assets/images/norway1.jpg"></div>
            <div class="col-lg-7 col-sm-12"><img src="assets/images/norway2.jpg"></div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-sm-12"><img src="assets/images/norway3.jpg"></div>
            <div class="col-lg-5 col-sm-12"><img src="assets/images/norway4.jpg"></div>
        </div>
    </div>

    <div class="container imagesContainer"[hidden]="!Caribbean">
        <div class="row">
            <div class="col-lg-4 col-sm-12"><img src="assets/images/car1.jpg"></div>
            <div class="col-lg-3 col-sm-12"><img src="assets/images/car3.jpg"></div>
            <div class="col-lg-5 col-sm-12"><img src="assets/images/car2.jpg"></div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12"><img src="assets/images/car4.jpg"></div>
            <div class="col-lg-6 col-sm-12"><img src="assets/images/car5.jpg"></div>
        </div>
        </div>


    

    
