
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <span 
      *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
      class="help-block">Please enter a valid email.</span>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password">
      <span 
      *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
      class="help-block">Please enter a valid password.</span>

<br/>
<br/>
      <span
      *ngIf="!loginForm.valid && loginForm.touched"
      class="help-block">Please enter valid email and password.<br/></span>
    </div>
    

    <button type="submit" class="btn btn-primary"[disabled]="!loginForm.valid">Login</button>

  <br/>
  <br/>
  <br/>


</form>

<div>
  
  <p class="float-right">Don't have an account yet? <a [routerLink]="['/register']">Register here.</a> </p>
</div>

  