<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="your name here..."
            formControlName="name">
            <span 
            *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched"
            class="help-block">Please enter a valid name.</span>
        </div>
        <div class="form-group">
          <label for="surname">Surname</label>
          <input
            type="text"
            id="surname"
            class="form-control"
            placeholder="your surname here..."
            formControlName="surname">
            <span 
            *ngIf="!contactForm.get('surname').valid && contactForm.get('surname').touched"
            class="help-block">Please enter a valid surname.</span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            placeholder="your email here..."
            formControlName="email">
            <span 
            *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched"
            class="help-block">Please enter a valid email.</span>
        </div>

        <div class="form-group">
          <label for="message">Ask us anything</label>
          <textarea class="form-control" id="message" rows="3" placeholder="please write your message here..." formControlName="message"></textarea>
          <span *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched">please enter a valid message</span>

        </div>
      <!-- <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              [value]="gender"
              formControlName="gender">{{ gender }}
          </label>
        </div>-->

        <button class="btn btn-primary" type="submit" [disabled]="!contactForm.valid" >Submit</button>
        <br/>
        <br/>
        <br/>
        <span
        *ngIf="!contactForm.valid && contactForm.touched"
        class="help-block">Please fill the form correctly.</span>
      </form>
</div>
</div>
</div>


