﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>


            <div>

                <div  style="color:grey; padding-top:15px;" class="nav navbar-nav  navbar-right">
                    @if(User != null)
                    {
                        if (User.Identity.IsAuthenticated)
                        {
                            
                            <label>Welcome @Context.User.Identity.Name  &nbsp;</label>
                            <a href="\Accounts\Signout">Sign out</a>
                        }
                    }
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="\Accounts\Register">Register<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="\Accounts\Login">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="\Items\Create">Create Item</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>




    <div class="container body-content">
    
        <div style="margin-top: 5px;">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["message"]
                </div>
            }

            @if (TempData["errormessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["errormessage"]
                </div>
            }

        </div>
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>