<br/>
<br/>
<div class="jumbotron" *ngIf='yacht'>
  <div class="row">
    <div class="col-lg-12">
      <img [src]='yacht.image' class="rounded float-left" style="width:100%;height:450px; margin-right:50px;">
    </div>
  </div>
  <div class="row">
  <h1 class="display-4">{{yacht.boatModel}}</h1>
</div>
   <div class="row" >
      <p class="card-text" style="margin:10px;">Port of Departure : {{yacht.departingCity}}</p> 
      <p class="card-text" style="margin:10px;" >Date of Departure : {{yacht.dateFrom}}</p>
      <p class="card-text" style="margin:10px;">Date of Return : {{yacht.dateTo}}</p>
   </div>
  
   <div class="row" style="padding-top:50px;">
            <div class="col-lg-3" ><img src="assets\icons\icon4.png" class="iandA">                 
                  <p >{{yacht.capacity}}</p>
            </div>
              <div class="col-lg-3" ><img src="assets\icons\icon1.png" class="iandA">                
                   <p >{{yacht.noOfBerths}}</p>
              </div>
              
              <div class="col-lg-3" ><img src="assets\icons\icon2.png" class="iandA">                
                  <p >{{yacht.noOfCabins}}</p>
              </div>
   </div>
              <div class="row" style="padding-top:50px;">
              <div class="col-lg-3" [hidden]="!yacht.wifi"><img src="assets\icons\icon6.png" class="iandA"></div>
              <div class="col-lg-3"[hidden]="!yacht.gps" ><img src="assets\icons\icon7.png" class="iandA"></div>       
          
   </div>
   <div class="float-right">
   <p class="lead">
      Discount: {{yacht.discount}} %
  </p>
  <p class="lead">
      Price {{yacht.offerPrice | currency:'EUR'}}
  </p>
  </div>
  <br/>
  <div class="row" style="clear:both; padding-top:50px;">
      
  <a class="btn btn-primary col-lg-2" [routerLink]="['/add']" role="button">Add</a><br/><br/>
  <p class="col-lg-1"></p>
  <a class="btn btn-primary col-lg-2" [routerLink]="['/edit']" role="button">Edit</a><br/><br/>
  <p class="col-lg-1"></p>


  <a class="btn btn-primary col-lg-2" role="button" (click)='deleteItem()'>Delete</a>
  <p class="col-lg-1"></p>

  <a class="btn btn-primary col-lg-3 "  role="button" (click)='onBack()'>Back</a>
