<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="jquery.easyPaginate.js"></script>
<div class='panel panel-primary'>

  <div class='panel-body'>
      <div class='row'>
          <div class='col-md-2'>Filter by:</div>
          <div class='col-md-4'>
              <input type='text' [(ngModel)]='listFilter' />
          </div>
      </div>
<div *ngIf= 'yachts && yachts.length ' >

<div class="card w-100" *ngFor= "let yacht of filteredYachts | paginate:{itemsPerPage: 3,currentPage:p} ">
    <div class="card-body text-right" >
        <img [src]='yacht.image' class="rounded float-left" style="width:250px;height:200px; margin-right:50px;">
      <h5 class="card-title ">{{yacht.boatModel}}</h5>
      <p class="card-text" mat-sort-header>WAS {{ originalPrice(yacht)}}</p>
      <p class="card-text">NOW {{yacht.offerPrice}} with {{yacht.discount}}%</p>      
      <p class="card-text">City of Departure : {{yacht.departingCity}}</p>
      <p class="card-text">{{yacht.dateFrom | date:'shortDate'}} - {{yacht.dateTo | date:'shortDate'}}</p>
      <div class="float-left">
      <table class="IconRowA">
          <tbody>
            <td>
                  <div class="container iconAndNumber">
                    <div class="row">
                      <div><img src="assets\icons\icon1.png" class="iandA"></div>
                      <p>{{yacht.noOfCabins}}</p>
                    </div>
                    </div>
              </td>
              <td>  
              <div class="container iconAndNumber">
                <div class="row">
                  <div><img src="assets\icons\icon2.png" class="iandA" ></div>
                  <p >{{yacht.noOfBerths}}</p>
                </div>
                </div>
            </td>
            <td>  
                <div class="container iconAndNumber">
                  <div class="row">
                    <div><img src="assets\icons\icon3.png" class="iandA" ></div>
                    <p >{{yacht.engineHp}}</p>
                  </div>
                  </div>
            </td>
            <td>  
              <div class="container iconAndNumber">
                <div class="row">
                  <div><img src="assets\icons\icon4.png" class="iandA"></div>
                  <p >{{yacht.capacity}}</p>
                </div>
                </div>
            </td>

          </tbody>

      </table>
      <table class="IconRowB">
        <tbody>

            <td [hidden]="!yacht.wifi"><span><img src="assets\icons\icon6.png" class="iconsOnly" ></span></td>
            <td [hidden]="!yacht.gps"><span><img src="assets\icons\icon7.png" class="iconsOnly"></span></td>


        </tbody>

    </table>
</div>
    <a class="btn btn-primary buttonStyler" [routerLink]="['/yachts', yacht.yachtId]"> More Details</a>
    </div>
  </div>
  </div>

  <div>
    </div>
    
    </div>

    <pagination-controls (pageChange)="p=$event"></pagination-controls>



