.iconsOnly{
    height:25px;
    width:25px;
    margin:5px;
}

.iconAndNumber{
    width:50px; 
    border:1px solid grey; 
    margin-left:20px;
    border-radius:8px;
}

.iconAndNumber img{
    margin:10px;
}

.iandA{
height:30px;
width:30px;
}
p{
    margin:auto;
}

.IconRowA{
margin-bottom:10px;
}

.IconRowB{
    margin-left:20px;
}

.buttonStyler{
    background-color:#223E7F;
    border-color:#223E7F;
    margin-top:50px;
    transition: all ease-in-out 0.2s;
}

.buttonStyler:hover{
color:#E3F6FC;
 
}